{% extends "base.html" %}
{% load static %}
		{% block cabecera %}
		<!-- Header -->
		<header id="header">
			<a href="{% url 'index' %}" class="logo"><strong>EL RESORT SHOP</strong></a>
			<ul class="icons">
				<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
				<li><a href="#" class="icon brands fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
				<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
				<li><a href="#" class="icon brands fa-medium-m"><span class="label">Medium</span></a></li>
			</ul>
		</header>
		{% endblock %}
	{% block banner %}
	<!-- Banner -->
		<section id="banner">
			<div class="content">
				<header>
					<h1>ITEMS tipo '{{nombre_categoria}}'<br /></h1>											
				</header>
				<p>Las mejores {{nombre_categoria}}s de Castro</p>
			</div>
		</section>
	{% endblock %}
	{% block seccion1 %}	
	<!-- Section -->
	<section>
		<header class="major">
			<h2>ARTÍCULOS</h2>
		</header>
		<div class="posts">
			{% if lista_items %}
				{% for i in lista_items %}
				<article>
					{% if i.imagen %}
					<a href="#" class="image"><img src="{{ i.imagen.url }}" alt="" /></a>
					{% endif %}
					<h3>{{i.nombre }}</h3>
					<p>{{i.descripcion}}</p>
					<p>{{i.imagen}}</p>
					<h4>{{i.precio}} €</h4>	
					<ul class="actions">
						<li><a href="{% url 'producto' i.id %}" class="button">Comprar</a></li>
					</ul>
				</article>

				{% endfor %}
			{% else %}
			<article>                                        
				<h3>NO HAY ITEMS</h3>
				<p>Actualmente no disponemos de artículos tipo 'chaqueta'.</p>
			</article>

			{% endif %}
		</div>
	</section>
	{% endblock %}
