{% extends "base.html" %}
{% load static %}
	{% block cabecera %}
	<!-- Header -->
	<header id="header">
	<a href="{% url 'index' %}" class="logo"><strong>EL RESORT SHOP</strong></a>
	<div id = "app">
		<ul class="icons">
			<li v-for= "r in redes">
				<a v-bind:href= "r.url" v-bind:class="r.class" target="_blank" ><span class="label"> [[r.label]]</span></a>
			</li>
		</ul>	
	</div>
	
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src = "{% static 'assets/js/01.js' %}"></script>
	</header>
	{% endblock %}
	{% block banner %}
	<!-- Banner -->
		<header class="masthead">
            <div class="container d-flex h-100 align-items-center">
                <div class="mx-auto text-center">
					<h1 class="mx-auto text-center">EL RESORT SHOP</h1>
					<h2 class="mx-auto text-center">- CASTRO URDIALES -</h2>
			<!--		<p class="mx-auto text-center">El Resort Shop es una tienda de ropa juvenil ubicada en Castro Urdiales.</p>	-->
					{% csrf_token %}
					{% if user.is_authenticated%}
						<a class="button text-center"  href="#novedades">DESCUBRE LAS NOVEDADES</a>
					{%else%}
						<a class="button text-center"  href="/accounts/login">REGISTRATE PARA NO PERDERTE LAS NOVEDADES</a>
					{% endif %}
                </div>
            </div>
        </header>
	{% endblock %}
	{% block novedades %}
		<section id =novedades>
			<header class="major">
				<h2>Novedades</h2>
			</header>
			<div class="posts">
				{% if novedades %}
					{% for i in novedades %}
					<article>
						<p style="color:Tomato;">NEW</p>
						{% if i.imagen %}
						<a href="{% url 'producto' i.id %}" class="image"><img src="{{ i.imagen.url }}" alt="" /></a>
						{% endif %}
						<h3>{{i.nombre }}</h3>
						<p>{{i.descripcion}}</p>
						<h4>{{i.precio}} €</h4>	
						<ul class="actions">
							<li><a href="{% url 'producto' i.id %}" class="button">Comprar</a></li>
						</ul>
					</article>
	
					{% endfor %}
				{% else %}
				<article>                                        
					<h3>NO HAY ITEMS</h3>
					<p>Actualmente no disponemos de novedades.</p>
				</article>
	
				{% endif %}
			</div>
		</section>
	{% endblock %}
