{% extends "base.html" %}
{% load static %}
{% block cabecera %}
<!-- Header -->
<header id="header">
    <a href="{% url 'index' %}" class="logo"><strong>EL RESORT SHOP</strong></a>
    <ul class="icons">
        <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon brands fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
        <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon brands fa-medium-m"><span class="label">Medium</span></a></li>
    </ul>
</header>
{% endblock %}


{% block seccion1 %}	
<!-- Section -->
<section>
    <header class="major">
        <h2>{{item.nombre}}</h2>
    </header>
    <div class="posts">
        {% if lista_productos %}
            <article>      
            {% if item.imagen %}
                <a href="#" class="image"><img src="{{ item.imagen.url }}" alt="" /></a>
            {% endif %}
                <h3>{{item.nombre}}</h3>
                <p>{{item.descripcion}}</p>
                <h4>{{item.precio}} €</h4>	 

                <form action="/action_page.php">
                    <p>Seleccione una talla:</p>
                    <select name="talla">
                        {% for p in lista_productos %} 
                            {% if p.stock > 0 %}
                                <option value=p.talla>{{p.talla }}</option>
                            {% else %}
                                <option value=p.talla disabled>{{p.talla }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <p></p>                  
                    <input type="number" id="quantity" name="quantity" min="1" max=5 value="1">
                    <p></p>
                    <ul class="actions">
                        <li><a href="#" class="button">Comprar</a></li>
                    </ul>                 
                 </form>
<!--
                <ul class="actions">
                    <li><a href="#" class="button">Comprar</a></li>
                </ul>
                <ul>
                    <p>Seleccione una talla:</p>
                    <select name="talla">
                        {% for p in lista_productos %} 
                            {% if p.stock > 0 %}
                                <option value=p.talla>{{p.talla }}</option>
                            {% else %}
                                <option value=p.talla disabled>{{p.talla }}</option>
                            {% endif %}

                        {% endfor %}
                    </select>

                    TO-DO sacar desplegable de tallas
                  
                    {% for p in lista_productos %} 

                        <li><a href="{% url 'carrito_anyadir' p.id %}" class="button">- {{p.stock}}</a>  </li>
                    {% endfor %}
  -->
    
                </ul>
    
            </article>
            {% else %}
        <article>                                        
            <h3>ESTE PRODUCTO YA NO ESTÁ DISPONIBLE</h3>
            <p>Actualmente no disponemos del artículo {{item.nombre}} </p>
        </article>

        {% endif %}
    </div>
</section>
{% endblock %}
